
@{ 
    ViewBag.Title = Resources.GlobalRes.TermsOfService;
}

<div class="container">
    <h1 class="margin-top">@Resources.GlobalRes.TermsOfService</h1>
    <p class="margin-top">
        @Resources.GlobalRes.ToSDecriptionUsers
        <br />
        @Resources.GlobalRes.ToSListHeader
    </p>
    <ul>
        <li>@Resources.GlobalRes.ToSListItem1</li>
        <li>@Resources.GlobalRes.ToSListItem2</li>
        <li>@Resources.GlobalRes.ToSListItem3</li>
        <li>@Resources.GlobalRes.ToSListItem4</li>
        <li>@Resources.GlobalRes.ToSListItem5</li>
    </ul>
    <p>@Resources.GlobalRes.TosAdminPriviledge</p>
</div>
